/* CSS Document */
@charset "UTF-8";

/****************************************************************************
    reset
****************************************************************************/
*,::before,::after {margin:0;padding:0;border:0 solid transparent;outline:0 solid transparent;box-shadow:0 0 0 transparent;font-family:inherit;text-shadow:0 0 0 transparent;box-sizing:border-box;background:transparent none center center no-repeat}
h1,h2,h3,h4,h5,h6 {font-size:inherit;font-weight:inherit}
i,em,address {font-style:inherit}
input[type=text]::-ms-clear{display:none}
ol,ul {list-style:none}
input, select, textarea, mark {color:inherit;font:inherit}
label,button,a {color:inherit;font:inherit;cursor:pointer;text-decoration:inherit}
table {table-layout:fixed;border-collapse:collapse}
select::-ms-expand {display:none}
input, select, button, textarea {-webkit-appearance:none;-moz-appearance:none;appearance:none}
img:only-child {margin:auto;display:block;max-width:100%}
:focus{outline:0} 
textarea {resize:none}
mark {color:#fff;background-color: var(--color, #424242)}

    
/****************************************************************************
    hack
****************************************************************************/
/* Only works in IE10 이상 (IE11도 포함)*/ 
_:-ms-fullscreen, :root button {overflow:visible} 
input::-webkit-input-placeholder {color:#a9a9a9;}
input:-ms-input-placeholder {color:#a9a9a9;}
textarea::-webkit-input-placeholder {color:#a9a9a9;}
textarea:-ms-input-placeholder {color:#a9a9a9;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {-webkit-text-fill-color: inherit !important; -webkit-box-shadow: 0 0 0 100vw #ffffff inset;} 

/* Mobile Touch 후 깜빡임 제거 */
input, select, textarea, button, a, label { -webkit-tap-highlight-color: transparent; } 

/* input 초기화 버튼 hidden - IE의 경우 */
input::-ms-clear,
input::-ms-reveal{ display:none; }

/* input 초기화 버튼 hidden - 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{ display:none; }

/* 오른쪽에 화살표 증가, 감소 버튼 감추기 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* scroll styleing */ 
:root {
    --webkit-scrollbar : 5px
}

*::-webkit-scrollbar {
    width: var(--webkit-scrollbar); /* (세로)스크롤바의 너비 */
    height: var(--webkit-scrollbar); /* (가로)스크롤바의 높이 */
}
*::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #A9AAAC; /* 스크롤바의 색상 */
    border-radius: 5px;
}
*::-webkit-scrollbar-track {    
