/* CSS Document */
@charset "UTF-8";

/****************************************************************************
    역대포럼
****************************************************************************/
/* 역대포럼 목록 */
.cont-past-forums .section-forums {position: relative;}
.cont-past-forums .section-forums-header {display: flex;align-items:center;margin-bottom: 2rem;}
.cont-past-forums .section-forums .list-forums {display:grid;grid-template-columns: 1fr 1fr;position: relative;}
.cont-past-forums .section-forums .list-forums__item {display: grid;grid-template-columns: 20rem 1fr;gap: 2rem;;padding: 4rem 0;position: relative;}
.cont-past-forums .section-forums .list-forums__item:nth-child(odd)::after {content: "";position: absolute;left:0;top:0;width: 200%;;border-top: 1px solid var(--color-gray-400);}
.cont-past-forums .section-forums .list-forums__item:nth-child(odd):last-child::before {content: "";position: absolute;left:0;bottom:0;width: 200%;;border-top: 1px solid var(--color-gray-400);}
.cont-past-forums .section-forums .thumd-box {border: 1px solid var(--color-gray-200);}
.cont-past-forums .section-forums .content-area {display: flex;flex-direction: column;gap:3rem}
.cont-past-forums .section-forums .content-area .title {}
.cont-past-forums .section-forums .content-area .topic {margin-bottom: 3rem;}
.cont-past-forums .section-forums .content-area .link-downlaod {width: fit-content;}
.cont-past-forums .section-forums-footer {display: flex;align-items: center;justify-content: center;}

/* medium devices  */ 
@media (max-width: 991.98px) { 
  .cont-past-forums .section-forums .list-forums {display: flex;flex-direction: column;}
  .cont-past-forums .section-forums .list-forums__item {grid-template-columns: 16rem 1fr;}
  .cont-past-forums .section-forums .list-forums__item::after {content: "";position: absolute;left:0;top:0;width: 100% !important;border-top: 1px solid var(--color-gray-400)}
  .cont-past-forums .section-forums .list-forums__item:last-child::before {content: "";position: absolute;left:0;bottom:0;width: 100% !important;border-top: 1px solid var(--color-gray-400);}
  .cont-past-forums .section-forums .thumd-box {}
}


/****************************************************************************
    사진
****************************************************************************/
/* 사진 목록 */
.cont-photos .section-photos-header {display: flex;align-items:center;margin-bottom: 2rem;}
.cont-photos .section-photos .section-photos-body {}
.cont-photos .section-photos .list-photos { display: grid; grid-template-columns: repeat(3, 37rem); row-gap: 4rem; justify-content: space-between;}
.cont-photos .section-photos .list-photos__item { display: flex; flex-direction: column; row-gap: 1.5rem;}
.cont-photos .section-photos .thumd-box {border: 1px solid var(--color-gray-200);}
.cont-photos .section-photos .content-area .title {margin-bottom: 1rem;font-size: 1.8rem;font-weight: bold;line-height: 1.4em;}
.cont-photos .section-photos .content-area .title .year {margin-right:0.5rem;color: #d15700;}
.cont-photos .section-photos .summary-area {display: flex;}


/* medium devices  */ 
@media (max-width: 991.98px) { 
  .cont-photos .section-photos .list-photos {display: block;}
}