/* CSS Document */
@charset "UTF-8";

/****************************************************************************
    인사말
****************************************************************************/
.cont-greetings .section-greetings {}
.cont-greetings .section-greetings-header {margin-bottom:6rem;}
.cont-greetings .section-greetings-header__title {margin-bottom:5rem;font-size:3rem;font-weight:700;text-align: center;}
.cont-greetings .section-greetings-header__description {max-width:90rem;margin:0 auto;line-height:1.8em;}
.cont-greetings .section-greetings-header__description p {margin-bottom:2rem;word-break: keep-all;}
.cont-greetings .section-greetings-header__description p.date {font-size:1.8rem;}
.cont-greetings .section-greetings-header__description p.chairman {font-size:2.2rem;font-weight:700;}

/* medium devices  */ 
@media (max-width: 991.98px) { 
.cont-greetings .section-greetings-header {margin-bottom:4rem;}
}

/****************************************************************************
    임원진소개
****************************************************************************/
.cont-execs .section-member {}
.cont-execs .section-member-body .list-member {display: grid; grid-template-columns: repeat(3, 37rem); row-gap: 4rem; justify-content: space-between;}
.cont-execs .section-member-body .list-member__item {border-top: 1px solid var(--color-gray-800);border-bottom: 1px solid var(--color-gray-800);background-color: var(--color-gray-100);}
.cont-execs .section-member-body .list-member__item .character-area {display: flex;flex-direction: column;align-items: center;justify-content: center;padding:2rem 0;}
.cont-execs .section-member-body .list-member__item .character-area .position {padding:0.5rem 1rem;margin-bottom:1rem;font-size: 1.8rem;;line-height:1em;color: #fff;background-color: var(--color-secondary-500)}
.cont-execs .section-member-body .list-member__item .character-area .name {margin:0 -1em 1rem  0;font-size:2.4rem;font-weight:700;letter-spacing:1em;}
.cont-execs .section-member-body .list-member__item .list-career {padding:2rem 1rem;}
.cont-execs .section-member-body .list-member__item .list-career__item {position: relative;padding-left:1rem;;margin-bottom:1rem;}
.cont-execs .section-member-body .list-member__item .list-career__item:last-child {margin-bottom:0}
.cont-execs .section-member-body .list-member__item .list-career__item::after {content:"";position: absolute;top:0.7rem;left:0;width:0.3rem;height:0.3rem;border-radius:100%;background-color: var(--color-gray-800);}

@media (max-width: 991.98px) { 
  .cont-execs .section-member-body .list-member__item .character-area .position {font-size:2rem;}
  .cont-execs .section-member-body .list-member__item .character-area .name {font-size:3rem;}
  .cont-execs .section-member-body .list-member__item .character-area .work {font-size:1.8rem;}
  .cont-execs .section-member-body .list-member {display: flex;flex-direction: column;row-gap: 4rem;}  
  .cont-execs .section-member-body .list-member__item .list-career__item {font-size:1.8rem;}
}