:root {
  /* Layouts */
  --inner-padding:              0.8rem;
  --inner-width:                calc(132rem + var(--inner-padding) * 2);

  /* Fonts */
  --font-size:                  1.6rem;
  --font-family:                "Pretendard", "맑은 고딕", "Malgun Gothic", "돋움", "Dotum", "AppleSDGothicNeo-Light", "Sans-serif", "Tahoma";
  --letter-spacing:             -0.02em;

  /* System Colors */ 
  --color-gray-0:               #ffffff;
  --color-gray-50:              #F9F9F9;
  --color-gray-100:             #F3F3F3;
  --color-gray-150:             #E8E8E8;
  --color-gray-200:             #E0E0E0;
  --color-gray-250:             #D7D7D7;
  --color-gray-300:             #D1D1D1;
  --color-gray-400:             #C1C1C1;
  --color-gray-500:             #B2B2B2;
  --color-gray-600:             #8E8E8E;
  --color-gray-700:             #6B6B6B;
  --color-gray-800:             #474747;
  --color-gray-900:             #151718;
}