/* CSS Document */
@charset "UTF-8";

:root {
  /* Layouts */
  --inner-padding:              0.8rem;
  --inner-width:                calc(120rem + var(--inner-padding) * 2);

  /* Fonts */
  --font-size:                  1.6rem;
  --font-family:                "Pretendard", "맑은 고딕", "Malgun Gothic", "돋움", "Dotum", "AppleSDGothicNeo-Light", "Sans-serif", "Tahoma";
  --letter-spacing:             -0.02em;

  /* System Colors */
  --color-primary-50:           #fff7e6;
  --color-primary-100:          #ffeecd;
  --color-primary-150:          #ffe6b3;
  --color-primary-200:          #ffdd99;
  --color-primary-250:          #ffd580;
  --color-primary-300:          #ffcc66;
  --color-primary-400:          #ffc34d;
  --color-primary-500:          #FCAC19; 
  --color-primary-600:          #e69b17;
  --color-primary-700:          #bf8113;
  --color-primary-800:          #99660f;
  --color-primary-900:          #734c0b;
  
  --color-secondary-50:         #e6f0fb;
  --color-secondary-100:        #cce1f7;
  --color-secondary-150:        #b3d2f2;
  --color-secondary-200:        #99c3ee;
  --color-secondary-250:        #80b4ea;
  --color-secondary-300:        #66a5e5;
  --color-secondary-400:        #4d96e1;
  --color-secondary-500:        #4573B8; 
  --color-secondary-600:        #235fa7; 
  --color-secondary-700:        #1c4b83; 
  --color-secondary-800:        #15395f;
  --color-secondary-900:        #0e263b;

  --color-gray-0:               #ffffff;
  --color-gray-50:              #F9F9F9;
  --color-gray-100:             #F3F3F3;
  --color-gray-150:             #E8E8E8;
  --color-gray-200:             #E0E0E0;
  --color-gray-250:             #D7D7D7;
  --color-gray-300:             #D1D1D1;
  --color-gray-400:             #C1C1C1;
  --color-gray-500:             #B2B2B2;
  --color-gray-600:             #8E8E8E;
  --color-gray-700:             #6B6B6B;
  --color-gray-800:             #474747;
  --color-gray-900:             #151718;
}