/* CSS Document */
@charset "UTF-8";

/****************************************************************************
    Forms
****************************************************************************/
/* 공통 */
.form-row { position: relative; z-index: 1;}
.form-row select {width: 100%;height: 100%;padding-left:1rem;font-size: 1.4rem;}
.form-row input[type="text"] {width: 100%;height: 100%;padding-left:1rem;font-size: 1.4rem;}

/* 선택폼 */
.form-select {display:inline-flex;align-items: center;height: 4rem;}
.form-select select {padding-right:1rem;;border:1px solid var(--color-gray-400);background-image:url();}

/* 검색폼 */
.form-search {display:inline-flex;align-items: center;;width: 25rem;height: 4rem;}
.form-search input {flex: 1;border-width:1px 0 1px 1px;border-color:var(--color-gray-400);}
.form-search .btn-search {display: inline-flex;align-items: center;justify-content: center;width: 4rem;height: 4rem;background-color: #D9971D;}
.form-search .btn-search:active {background-color: #c3770c;}