/* CSS Document */
@charset "UTF-8";

/****************************************************************************
    페이징
****************************************************************************/
/* 기본 스타일 설정 */
.c-pagination {display: flex;padding: 2rem 0;}
.c-pagination__item {margin: 0 0.2rem;}
.c-pagination__item button {width:4rem;height: 4rem;padding:0;;border: 1px solid #ddd;background-color: #fff;}
.c-pagination__item button.btn--is-active {background-color: #e94b35 !important;color: #fff;border-color: #e94b35 !important;}
.c-pagination__item--prev button, 
.c-pagination__item--first button,
.c-pagination__item--next button, 
.c-pagination__item--last button {font-size: 1.1rem;font-weight: bold;}

/* medium devices  */ 
@media (max-width: 991.98px) { 
    .c-pagination__item:not(.c-pagination__item--prev, .c-pagination__item--first, .c-pagination__item--next, .c-pagination__item--last) {display: none;}    
  }
  