/* CSS Document */
@charset "UTF-8";

/****************************************************************************
    Frame - 기본구조정의
****************************************************************************/
html,
body {
  width:100%; 
  height:100%; 
  margin:0; 
  padding:0; 
  font-size:10px
}

#wrap {
  position: relative;
  width: 100%;
  min-width: var(--inner-width);
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-gray-900);
  letter-spacing: var(--letter-spacing);  
  word-break: keep-all;
  touch-action: pan-y;  
}
#wrap ~ * {touch-action: pan-y;}

#header {
  position: relative;  
  width: 100%;
  z-index: 30;
}

#container {
  position: relative;
  z-index: 20;
  min-height: 100%;
}

#footer {
  position: relative;
  z-index: 10;
  width: 100%;  
}

.inner {
  overflow: hidden;
  position: relative;  
  width: var(--inner-width);
  height: 100%;
  margin: 0 auto;
  padding: 0 0.8rem;
}

/* medium devices  */ 
@media (max-width: 991.98px) { 
  #wrap {min-width:100%}
  .inner { 
    width: 100%; 
    padding: 0 4rem;
  }
}
